.container {
    margin: 1rem 2rem;
    display: grid;
    place-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.container .searchPanel {}

input[type='text'] {
    border: none;
    font-size: 30px;
}