.image-board {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 1rem;
    margin-top: 1rem;
}

.tile:nth-child(1) {
    grid-column: span 4;
    grid-row: span 2;
}

.tile:nth-child(2),
.tile:nth-child(3) {
    grid-column: span 2;
}

.tile:nth-child(4),
.tile:nth-child(5) {
    grid-column: span 3;
}

@media screen and (max-width: 650px) {
    .image-board {
        display: block;
    }
    .tile {
        margin-bottom: 1rem;
    }
}